<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d %highlight(%5p) | %t | %-20logger{20} | %m %n</pattern>
        </encoder>
    </appender>
    <!-- <logger name="clj-boolean.opt.core" level="INFO" /> -->
    <!-- <logger name="clj-boolean.opt.pass-distrib" level="DEBUG" /> -->
    <root>
        <level value="WARN" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

